<div id="PageTitle">Create New Article</div>

<% form_tag({:action => 'create'}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
