<div id="PageTitle"> 
Resources
</div>
	<div id="item">
		<img class="thumb" src="/images/Linux-lab_nac7101.jpg" />
		<div id="info">
			<div id="item_title">
				Computer Science Labs
			</div>
			<div id="item_location">
				Rooms: NAC 7/105, NAC 7/118, Steinman T-513
			</div>
			<div id="item_detail">
				The computer science department has labs for students in the major. 
				<br />
				<a class="ccny_link" href="http://www-cs.engr.ccny.cuny.edu/resources/facilities.html"> Lab hours and info</a>
			</div>
			
		</div>
		</div>
	<div id="item">
		<img class="thumb" src="/images/tutoring-replace.jpg" />
		<div id="info">
			<div id="item_title">
				Tutoring
			</div>
			<div id="item_location">
				Rooms: Steinman 2M7
			</div>
			<div id="item_detail">
				CCNY offers tutoring for select Computer Science, Engineering, and Mathematics.
				<br />
				<a class="ccny_link" href="http://www-cs.ccny.cuny.edu/general/csc102-104.html"> CSc 102 and CSc 104 Tutoring</a>
			</div>
			
		</div>
	</div>

