<h1>Editing event</h1>

<% form_tag ({:id => @event, :action => 'update'}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @event %> |
<%= link_to 'Back', :action => 'list' %>
